{% macro gem_search_window_2() %}

<div class="col-1 col-md-12 col-xl-7 col-xxl-7 flex-grow-1 flex-fill scstyle-1 sc-overflow">
    <div class="row scstyle-1 sc-overflow" style="overflow: scroll;">
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-xl-flex d-xxl-flex justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-center" style="padding-top: 15px;">
                        <div id="type-dropdown" class="dropdown" style="padding-left: 15px;padding-right: 15px;">
                            <button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);">
                                <span id="selected-type" style="color: rgb(0, 0, 0);">Type</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" data-value="Hiking Trail">Hiking Trail</a>
                                <a class="dropdown-item" href="#" data-value="Restaurant">Restaurant</a>
                                <a class="dropdown-item" href="#" data-value="Park">Park</a>
                                <a class="dropdown-item" href="#" data-value="Gym">Gym</a>
                                <a class="dropdown-item" href="#" data-value="Museum">Museum</a>
                                <a class="dropdown-item" href="#" data-value="Beach">Beach</a>
                                <a class="dropdown-item" href="#" data-value="Shopping Mall">Shopping Mall</a>
                                <a class="dropdown-item" href="#" data-value="Movie Theater">Movie Theater</a>
                                <a class="dropdown-item" href="#" data-value="Zoo">Zoo</a>
                                <a class="dropdown-item" href="#" data-value="Aquarium">Aquarium</a>
                            </div>
                        </div>
                
                        <!-- Unique ID for each dropdown, using 'AccessibilityMenu1' as an example -->
                        <div id="accessibility-dropdown" class="dropdown" style="padding: 15px;">
                            <button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px; color: black;">
                                <span id="selected-accesibility" style="color: black;">Accessibility</span>
                            </button>
                            <div class="dropdown-menu">
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="wheelchair_accessible"> Wheelchair Accessible</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="service_animal_friendly"> Service Animal Friendly</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="multilingual_support"> Multilingual Support</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="braille_signage"> Braille Signage</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="hearing_assistance"> Hearing Assistance</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="large_print_materials"> Large Print Materials</label>
                                <label class="dropdown-item"><input type="checkbox" name="accessibility" value="accessible_restrooms"> Accessible Restrooms</label>
                            </div>
                        </div>
                
                        <div id="distance-dropdown" class="dropdown" style="padding-left: 15px; padding-right: 15px;">
                            <button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px; color: rgb(0,0,0);">
                                <span id="selected-distance" style="color: rgb(0, 0, 0);">Distance</span>
                            </button>
                            <div class="dropdown-menu">
                                <label class="dropdown-item">
                                    <input id="distanceSlider" class="form-range" type="range" min="0" max="500" value="50" oninput="updateDistanceValue(this.value)"> <!-- Added min, max, and value attributes for demonstration -->
                                </label>
                                <label class="dropdown-item">
                                    <span class="text-center justify-content-md-center" id="distanceValue">50 km</span> 
                                </label>
                            </div>
                        </div>
                 
                        <div id="review-dropdown" class="dropdown" style="padding-left: 15px;padding-right: 15px;">
                            <button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);">
                                <span id="selected-review-option" style="color: rgb(0, 0, 0);">Minimum Rating</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" data-value="1">1 Star</a>
                                <a class="dropdown-item" href="#" data-value="2">2 Stars</a>
                                <a class="dropdown-item" href="#" data-value="3">3 Stars</a>
                                <a class="dropdown-item" href="#" data-value="4">4 Stars</a>
                                <a class="dropdown-item" href="#" data-value="5">5 Stars</a>
                            </div>
                        </div>
                
                        
                        <button class="btn btn-success btn-sm" data-bss-hover-animate="pulse" type="submit"><span style="color: rgb(255, 255, 255);">Apply Filters</span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                    <section class="overflow-auto" style="height: 600px;">
                        <div id="gem-1" class="card">
                            <div class="card-body px-4 py-5 px-md-5">
                                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center align-items-md-center justify-content-lg-center">
                                    <div class="col-md-9 col-lg-10 col-xxl-3 d-sm-flex d-xxl-flex justify-content-sm-center justify-content-xxl-center align-items-xxl-center"><img class="rounded fit-cover" src="elementor-placeholder-image.webp" width="314" height="193" /></div>
                                    <div class="col-md-9 col-lg-10 col-xxl-9 d-xxl-flex flex-fill align-items-xxl-center">
                                        <div class="container">
                                            <div class="row d-xxl-flex justify-content-xxl-center">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="text-center">
                                                                <p class="fw-bold text-success mb-2">Gem 1</p>
                                                                <h4 class="fw-bold">consectetur adipiscing elit</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card flex-grow-1 flex-fill">
                                                                <div class="card-body"><svg class="bi bi-grid-1x2-fill text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="top: 1rem;center: 1rem;position: absolute;font-size: 35px;">
                                                                        <path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z"></path>
                                                                    </svg>
                                                                    <h5 class="fw-bold text-center card-title" style="padding-top: 10px;">Type</h5>
                                                                    <p class="text-center text-muted card-text">donec ac odio tempor</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card flex-grow-1 flex-fill">
                                                                <div class="card-body"><svg class="bi bi-calendar-date-fill text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="top: 1rem;center: 1rem;position: absolute;font-size: 35px;">
                                                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"></path>
                                                                        <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"></path>
                                                                    </svg>
                                                                    <h5 class="fw-bold text-center card-title" style="padding-top: 10px;">Date Visited</h5>
                                                                    <p class="text-center text-muted d-flex justify-content-center card-text">pellentesque massa</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xxl-3 text-start d-sm-flex d-xxl-flex justify-content-sm-center align-items-md-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" style="padding-top: 10px;">
                                                    <div class="row">
                                                        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xxl-center"><button class="btn btn-success btn-lg d-lg-flex align-items-lg-center" type="submit" style="background: rgb(131,178,113);"><span style="color: rgb(255, 255, 255);">View Gem</span></button></div>
                                                        <div class="col-md-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xxl-center" style="padding-top: 30px;"><button class="btn btn-success btn-lg d-lg-flex align-items-lg-center" type="submit" style="background: rgb(242,93,83);"><span style="color: rgb(255, 255, 255);">Delete </span></button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center justify-content-lg-center">
                                    <div class="w-100"></div>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
