{# This card displays the graph of the user's gems #}
{% macro gems_overview() %}
<div  id="gems-overview-card" class="card border-start-primary py-2 shadow-sm">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col-xxl-12 me-2">
                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                    <h5 class="text-capitalize fw-bold d-xxl-flex justify-content-xxl-center" style="padding-bottom: 10px;">Gems Overview</h5>
                </div>
                <div id="graph-plot-container" class="text-dark fw-bold h5 mb-0">
                    <div style="color: var(--bs-primary);--bs-body-color: var(--bs-primary);--bs-body-bg: var(--bs-primary);">
                        <canvas id="gem-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // this script fetches the gems overview information from the server
    
    // make fetch to server
    fetch('/user/get-gems-overview', {
        method: 'GET',
        credentials: 'include'  // Necessary to include cookies with requests
    })

    .then((response) => {
        if (response.ok) {
            return response.json();
        } 
        else {
            return response.text().then(text => {
                throw new Error(text);
            });
        }
    })

    .then(data => { 
        if (Object.keys(data).length === 0){
            document.getElementById("graph-plot-container").innerHTML = `
            <h5 class="fw-bold text-center">No activity yet</h5>
            <p class="text-center text-muted" style="font-size: 16px;">Do something with hidden gems<br />to start having your stats appear!</p>
            `;
            
        }
        else{
            // make the chart
            const ctx = document.getElementById('gem-chart').getContext('2d');
            const monthOrder = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            const sortedKeys = monthOrder.filter(month => Object.keys(data).includes(month));
            const chartLabels = sortedKeys;
            const chartData = sortedKeys.map(key => data[key]);
            
        

            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: chartLabels,
                    datasets: [{
                        label: 'Gem Visit Frequency',
                        data: chartData,
                        backgroundColor: 'rgb(127,179,105)',
                        borderColor: 'rgba(0,0,0,0.1)',
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    legend: { display: false },
                    scales: {
                        xAxes: [{ ticks: { fontStyle: 'normal' } }],
                        yAxes: [{ ticks: { beginAtZero: true, fontStyle: 'normal' } }]
                    }
                }
            });
            
           
        }
       

       
       
    })



    


</script>


{% endmacro %}