{% from "components/footer.html" import footer %}
{% from "components/signed-in-navbar.html" import signed_in_navbar %}
{% from "components/gem-searcher.html" import gem_searcher %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gem Search</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alexandria&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    {{ signed_in_navbar() }}

    <div class="container-fluid">
        <div class="text-center" style="padding-top: 15px;">
            <p class="fw-bold text-success mb-2" data-aos="fade">Gem Search</p>
            <h2 class="fw-bold" data-aos="fade">Searching For _________________</h2>
            <div style="padding-top: 15px;padding-bottom: 15px;">
                <form class="d-xl-flex d-xxl-flex justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-center">
                    <div class="dropdown" style="padding-left: 15px;padding-right: 15px;"><button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);"><span style="color: rgb(0, 0, 0);">Type</span></button>
                        <div class="dropdown-menu">
                            <label class="dropdown-item"><input type="checkbox" name="type" value="hiking_trail"> Hiking Trail</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="restaurant"> Restaurant</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="gym"> Gym</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="park"> Park</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="museum"> Museum</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="beach"> Beach</label>
                            <label class="dropdown-item"> <input type="checkbox" name="type" value="shopping_mall"> Shopping Mall</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="movie_theater"> Movie Theater</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="zoo"> Zoo</label>
                            <label class="dropdown-item"><input type="checkbox" name="type" value="aquarium"> Aquarium</label>

                        </div>
                    </div>
                    <div class="dropdown" style="padding-left: 15px;padding-right: 15px;"><button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);"><span style="color: rgb(0, 0, 0);">Accessibility</span></button>
                        <div class="dropdown-menu">
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="wheelchair_accessible"> Wheelchair Accessible</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="service_animal_friendly"> Service Animal Friendly</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="multilingual_support"> Multilingual_Support</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="braille_signage"> Braille Signage</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="hearing_assistance"> Hearing Assistance</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="large_print_materials"> Large Print Materials</label>
                            <label class="dropdown-item"><input type="checkbox" name="accessibility" value="accessible_restrooms"> Accessible Restrooms</label>

                        </div>
                    </div>
                    <div class="dropdown" style="padding-left: 15px;padding-right: 15px;"><button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);"><span style="color: rgb(0, 0, 0);">Distance</span></button>
                        <div class="dropdown-menu">
                            <label class="dropdown-item">
                                <input id="distanceSlider" class="form-range" type="range" min="0" max="100" /> <!-- Added min and max values for demonstration -->
                            </label>
                            <label class="dropdown-item">
                                <span class="text-cente justify-content-md-center" id="distanceValue">50km</span> 
                            </label>
                        </div>
                    </div>
                    <div class="dropdown" style="padding-left: 15px;padding-right: 25px;"><button class="btn dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="padding: 0px;color: rgb(0,0,0);"><span style="color: rgb(0, 0, 0);">Reviews</span></button>
                        <div class="dropdown-menu">
                            <label class="dropdown-item"> 
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </label>
                            <label class="dropdown-item">
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </label>
                            <label class="dropdown-item">
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </label>
                            <label class="dropdown-item">
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </label>
                            <label class="dropdown-item">
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                                <svg class="bi bi-star-fill fs-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            </label>
                        </div>
                    </div><button class="btn btn-success btn-sm" data-bss-hover-animate="pulse" type="submit"><span style="color: rgb(255, 255, 255);">Apply Filters</span></button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid scstyle-1 sc-overflow" data-aos="fade" id="gem-search">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center">
            {{ gem_searcher(gem_data) }}

            <div class="col flex-grow-1 flex-fill" style="height: 600px;">
                <div class="card shadow-sm" style="height: 600px;">
                    <div class="card-body d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="height: 500px;">
                        <iframe class="d-xxl-flex align-items-xxl-center" 
                        allowfullscreen="" 
                        src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=Space+Needle,Seattle+WA" 
                        width="100%" 
                        style="height: inherit;" 
                        height="fill">
                        </iframe>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    {{ footer() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        function sendLocationToServer(latitude, longitude) {
            fetch('/gem/send-location', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                latitude: latitude,
                longitude: longitude,
              }),
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));
          }
          
          if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function(position) {
              sendLocationToServer(position.coords.latitude, position.coords.longitude);
            });
          } else {
            console.log("Geolocation is not supported by your browser");
          }          
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var slider = document.getElementById('distanceSlider');
            var output = document.getElementById('distanceValue');
        
            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value + " km";
            }
        });
    </script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>