{% from "components/navbar.html" import navbar %}
{% from "components/footer.html" import footer %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alexandria&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans&amp;display=swap">
    <link rel="stylesheet" href="../static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    {{ navbar('sign-up') }}

    <section class="py-5">
        <div class="container py-5" data-aos="fade">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto"><img src="../static/img/geo-gemmer-logo.png" width="191" height="88" style="padding-bottom: initial;"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="mb-3">
                                <input id="username" class="form-control" type="text" data-bss-hover-animate="pulse" name="username" placeholder="Username"></div>
                                <p id="user-alr-exists-message" class="text-muted d-none" style="padding-top: 10px;"><span style="color: rgb(186, 49, 0);">User already&nbsp;exists</span></p>
                                <p id="please-enter-username-message" class="text-muted d-none" style="padding-top: 10px;"><span style="color: rgb(186, 49, 0);">Please Enter&nbsp; A Username</span></p>
                            <div class="mb-3"><input id= "password" class="form-control" type="password" data-bss-hover-animate="pulse" name="password" placeholder="Password">
                                <p id="please-enter-password-message" class="text-muted d-none" style="padding-top: 10px;"><span style="color: rgb(186, 49, 0);">Please Enter&nbsp; A Password</span></p>
                            </div>
                            <div class="mb-3"><button id="sign-up-submit-button"class="btn btn-primary shadow d-block w-100" type="submit" data-bss-hover-animate="pulse"><span style="color: rgb(255, 255, 255);">Sign up</span></button></div>
                            <p class="text-muted">Already have an account?&nbsp;<a href="/login">Log in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ footer() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../static/js/script.min.js"></script>
    <script>
        function displayErrorMessages(missingFields) {
            // Directly reference each specific error message element by field ID
            const errorMessages = {
                'username_already_exists': document.querySelector('#user-alr-exists-message'),
                'please_enter_username': document.querySelector('#please-enter-username-message'),
                'please_enter_password': document.querySelector('#please-enter-password-message'),
            };
        
            // Hide all error messages initially
            Object.values(errorMessages).forEach(msg => msg.classList.add('d-none'));
        
            // Show only the error messages for fields that are missing
            missingFields.forEach(field => {
                if (errorMessages[field]) {
                    errorMessages[field].classList.remove('d-none');
                }
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('sign-up-submit-button').addEventListener('click', submitGemForm);
        });
    </script>
    <script>
        function submitGemForm() {
            const user_name = document.getElementById('username').value;
            const password = document.getElementById('password').value;
           
            // Prepare data to send, using FormData or a JSON object
            
            const data = {
                username: user_name,
                password: password,
            };

            // Sending the data as JSON
            fetch('/sign-up', {
                method: 'POST',
                body: JSON.stringify(data), // Converting the JSON object to a JSON string
                headers: { 'Content-Type': 'application/json' }, // Setting the Content-Type as application/json
            })
        
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
            })
            .then(data => {
                
                window.location.href = '/login';
            })
            .catch((error) => {
                // Check if the error message matches the expected format
                if (error.message.includes('required and were not provided')) {
                    const match = error.message.match(/required and were not provided: (.*)/);
                    const missingFields = match[1].split(',').map(field => field.trim().replace(/^"|"$/g, '') ); // Remove leading and trailing quotes
                    console.log("Missing fields:", missingFields);
                }
                else if (error.message.includes('User already exists')) {
                    console.log("User already exists");
                }
                else {
                    console.error('Error:', error);
                }
                
                
            });
            
           
        }
    </script>
</body>

</html>