{% from "components/footer.html" import footer %}
{% from "components/signed-in-navbar.html" import signed_in_navbar %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
    
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>User Details - {{user_info[0].username}}</title>
    <link rel="icon" href="/static/img/geo-icon.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alexandria&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    {{ signed_in_navbar() }}
    {% for user in user_info %}
    <header data-aos="fade" id="greeting" class="bg-primary-gradient pt-5" style="background: #ffffff;">
        <div class="text-center">
            <p class="fw-bold text-success mb-2">User Profile</p>
            <h1 class="fw-bold">{{user.username}}</h1>
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
    </header>
    <div class="container py-4 py-xl-5" data-aos="fade" id="gemdetais">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center">
            <div class="col-md-12 col-lg-8 col-xxl-3">
                <div class="card border-start-primary py-2" data-aos="fade-down" id="gems-explored-card">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <h5 class="text-capitalize fw-bold">Gems Explored</h5>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{user.gems_explored}}</span></div>
                            </div>
                            <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pin-map-fill fa-2x text-gray-300" style="border-color: var(--bs-primary-text-emphasis);">
                                    <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8z"></path>
                                    <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xxl-3">
                <div class="card border-start-primary py-2" data-aos="fade-up" id="reviews-left-card">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <h5 class="text-capitalize fw-bold">Reviews Made</h5>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{user.reviews_made}}</span></div>
                            </div>
                            <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star-fill fa-2x text-gray-300">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                            </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xxl-3" data-aos="fade-down">
                <div class="card border-start-primary py-2" id="gems-created-card">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <h5 class="text-capitalize fw-bold">Gems Created</h5>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{user.gems_created}}</span></div>
                            </div>
                            <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-tools fa-2x text-gray-300">
                                    <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 col-xxl-3">
                <div class="card border-start-primary py-2" data-aos="fade-up" id="gems-saved-card">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <h5 class="text-capitalize fw-bold">Gems Saved</h5>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{user.gems_saved}}</span></div>
                            </div>
                            <div class="col-auto"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill fa-2x text-gray-300">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"></path>
                                </svg></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container scstyle-1 sc-overflow" data-aos="fade">
        <div class="row row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center">
            <div class="col-md-12 flex-fill scstyle-1 sc-overflow">
                <div class="card-body shadow-sm px-4 py-3 px-md-5 mb-5 ablock" style="max-height:500px;">
                    <h5 class="fw-bold d-xxl-flex justify-content-xxl-center card-title mb-4">User Biography</h5>
                    <p>{{bio}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container scstyle-1 sc-overflow" data-aos="fade" id="gems-pinned">
        <div class="row row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center">
            <div class="col-md-12 flex-fill scstyle-1 sc-overflow">
                <div class="card-body px-4 py-2 px-md-5 mb-5 ablock">
                    <h5 class="fw-bold d-xxl-flex justify-content-xxl-center card-title pb-2 pt-2">Gems Pinned</h5>
                    <section class="overflow-auto p-3" style="max-height: 300px;background-color:#c0ffc0; border-radius:20px; background-image:linear-gradient(#fafffa, #efe);">
                        {% for pinned_gem in gems_pinned %}
                        <div class="card shadow-sm" id="gem-1">
                            <div class="card-body px-4 py-5 px-md-5">
                                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center align-items-md-center justify-content-lg-center pt-3">
                                    <div class="col-md-9 col-lg-10 col-xxl-3 d-sm-flex d-xxl-flex justify-content-sm-center justify-content-xxl-center align-items-xxl-center"><img class="rounded fit-cover" src="/static/img/nature-image.png" width="314" height="193"></div>
                                    <div class="col-md-9 col-lg-10 col-xxl-9 d-xxl-flex flex-fill align-items-xxl-center">
                                        <div class="container">
                                            <div class="row d-xxl-flex justify-content-xxl-center">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="text-center">
                                                                <p class="fw-bold text-success mb-2">Gem 1</p>
                                                                <h4 class="fw-bold">{{pinned_gem.gem_name}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card shadow-sm flex-grow-1 flex-fill">
                                                                <div class="card-body"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-grid-1x2-fill text-success" style="top: 1rem;center: 1rem;position: absolute;font-size: 35px;">
                                                                        <path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z"></path>
                                                                    </svg>
                                                                    <h5 class="fw-bold text-center card-title" style="padding-top: 10px;">Type</h5>
                                                                    <p class="text-center text-muted card-text">{{pinned_gem.gem_type}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card shadow-sm flex-grow-1 flex-fill">
                                                                <div class="card-body"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-calendar-date-fill text-success" style="top: 1rem;center: 1rem;position: absolute;font-size: 35px;">
                                                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"></path>
                                                                        <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"></path>
                                                                    </svg>
                                                                    <h5 class="fw-bold text-center card-title" style="padding-top: 10px;">Date Visited</h5>
                                                                    <p class="text-center text-muted d-flex justify-content-center card-text">{{pinned_gem.date_pinned}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>



    <div id="reviews-left" class="container scstyle-1 sc-overflow">
        <div class="row row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center">
            <div class="col-md-12 flex-fill scstyle-1 sc-overflow">
                <div class="card shadow-sm ablock" style="max-height: 500px;">
                    <div class="card-body px-4 py-2 px-md-5">
                        <h5 class="fw-bold d-xxl-flex justify-content-xxl-center card-title p-2">Recent Reviews Left</h5>
                        <section class="overflow-auto p-3" style="max-height: 300px;background-color:#c0ffc0; border-radius:20px; background-image:linear-gradient(#fafffa, #efe);">
                            {% for review in reviews_made %}
                            <div id="gem-1" class="card shadow-sm mb-5">
                                <div class="card-body px-2 pt-3 px-md-5">
                                    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-md-flex d-lg-flex justify-content-md-center align-items-md-center justify-content-lg-center">
                                        <div class="col-md-9 col-lg-10 col-xxl-9 d-xxl-flex flex-fill align-items-xxl-center">
                                            <div class="container">
                                                <div class="row d-xxl-flex justify-content-xxl-center">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="text-center">
                                                                <a class="hidden-link" href="/gem/{{review.gem_id}}">
                                                                    <p class="fw-bold text-success mb-0">Review {{loop.index0+1}}</p>
                                                                    <h4 class="fw-bold mb-0">{{review.gem_name}}</h4>
                                                                    {% for i in range(5) %}
                                                                        {% if i < review.rating %}
                                                                            <svg viewBox="0 0 16 16" height="25px"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg>
                                                                        {% else %}
                                                                            <svg viewBox="-1 -1 19 19" height="25px"><path stroke="black" stroke-width="2" fill="white" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="card flex-grow-1">
                                                                <div class="card-body">
                                                                    <p class="text-center text-muted d-flex justify-content-center card-text">{{review.review}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        {{ footer()}}

    
    <script type="text/javascript">
        var gemVisitedFrequency = {{ gem_visted_frequency | tojson }};
        var gemDistribution = {{ gem_distribution | tojson }};
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/static/js/user-dashboard-gem-chart-data-update.js"></script>
    <script src="/static/js/script.min.js"></script>
</body>

</html>