{% macro navbar(active_page) %}
<nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light" id="mainNav">
    <div class="container"><img src="/static/img/geo-gemmer-logo.png" width="108" height="50"><a class="navbar-brand d-flex align-items-center" href="/"><span></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link d-flex d-sm-flex justify-content-center justify-content-sm-center {% if active_page == 'home' %}active{% else %}{% endif %}" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link d-flex d-sm-flex justify-content-center justify-content-sm-center {% if active_page == 'about-us' %}active{% else %}{% endif %}" href="/about-us">About Us</a></li>
                <li class="nav-item"><a class="nav-link d-flex d-sm-flex justify-content-center justify-content-sm-center {% if active_page == 'faq' %}active{% else %}{% endif %}" href="/faq">FAQ</a></li>
                <li class="nav-item"><a class="nav-link d-flex d-sm-flex justify-content-center justify-content-sm-center {% if active_page == 'contact-us' %}active{% else %}{% endif %}" href="/contact-us">Contact Us</a></li>
            </ul><a class="btn btn-primary shadow d-flex d-sm-flex justify-content-center justify-content-sm-center" role="button" data-bss-hover-animate="pulse" href="/login"><span style="color: rgb(249, 249, 254);">Login</span></a>
        </div>
    </div>
</nav>

{% endmacro %}
