{% macro signed_in_navbar() %}
<nav class="navbar navbar-expand-md d-flex justify-content-start navbar-shrink py-3 navbar-light" id="mainNav">
    <div class="container"><img src="/static/img/geo-gemmer-logo.png" width="108" height="50"><a class="navbar-brand d-flex align-items-center" href="/"><span></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <div class="row d-xxl-flex justify-content-xxl-start align-items-xxl-center">
                <div class="col-md-10 offset-md-1">
                    <div class="card m-auto" style="max-width:850px">
                        <div class="card-body" id="search-for-gem">
                            <form class="d-flex align-items-center" action="/gem/search" method="get">
                                <input class="form-control form-control-sm flex-shrink-1 form-control-borderless" type="search" data-bss-hover-animate="pulse" placeholder="Search topics or keywords" name="searchbar">
                                <button class="btn btn-success btn-sm" data-bss-hover-animate="pulse" type="submit">
                                    <span style="color: rgb(255, 255, 255);">Search</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
                <div class="w-100"></div>
            </div>
           
            <ul class="navbar-nav d-flex d-sm-flex justify-content-center align-items-center flex-nowrap ms-auto align-items-sm-center">
                <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="me-auto navbar-search w-100" action="/gem/search" method="get">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1"></li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                </li>
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span id="username" class="d-none d-lg-inline me-2 text-gray-600 small"></span>
                       </a>
                        <button class="dropdown-menu shadow dropdown-menu-end animated--grow-in" style="border: none; background: none; padding: 0; margin: 0;">
                            <a class="dropdown-item" href="/user"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Home</a>
                            <a class="dropdown-item" href="/user/settings"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/" onclick="logout()"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                        </button>
                        </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        fetch('/user/navbar-get-username', {
            method: 'GET',
            credentials: 'include'  // Necessary to include cookies with requests
        })
    
        .then((response) => {
            if (response.ok) {
                return response.json();
            } 
            else {
                return response.text().then(text => {
                    throw new Error(text);
                });
            }
        })
    
        .then(data => { 
            const username = data.username;
            document.getElementById('username').innerText = username;

            }
        )
    </script>
   
    
    <script>
        function logout() {
            fetch('/user/logout', {
                method: 'POST',
                credentials: 'include'  // Necessary to include cookies with requests
            })
        
            .then((response) => {
                if (response.ok) {
                    return response.json();
                } 
                else {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
            })

            .then(data => {
                // Redirect to the login page
                window.location.href = '/';
            })

            .catch((error) => {
                const errorMessage = JSON.parse(error.message);
                console.log(errorMessage);
        
            });
            
           
        }
    </script>
    
</nav>
{% endmacro %}
